.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.8rem;
    position: relative;
    z-index: 3;
    flex-wrap: wrap;
    padding: 10rem 0;
    flex-direction: column;
    p{
        text-align: left;
        @media screen and (min-width: 1024px){
            font-size: 2.4rem;
        }
        @media screen and (min-width: 1300px){
            font-size: 2.8rem;
        }
    }
    &__top{
        padding-bottom: .7rem;
    }
    span{
        font-weight: 700;
    }
}